interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.genshin.dev/characters/all
  response:
    body:
      string: "[{\"name\":\"Albedo\",\"title\":\"Kreideprinz\",\"vision\":\"Geo\",\"weapon\":\"Sword\",\"nation\":\"Mondstadt\",\"affiliation\":\"Knights
        of Favonius\",\"rarity\":5,\"constellation\":\"Princeps Cretaceus\",\"birthday\":\"0000-09-13\",\"description\":\"A
        genius known as the Kreideprinz, he is the Chief Alchemist and Captain of
        the Investigation Team of the Knights of Favonius.\",\"skillTalents\":[{\"name\":\"Favonius
        Bladework - Weiss\",\"unlock\":\"Normal Attack\",\"description\":\"Normal
        Attack\\nPerform up to 5 rapid strikes.\\nCharged Attack\\nConsumes a certain
        amount of Stamina to unleash 2 rapid sword strikes.\\nPlunging Attack\\nPlunges
        from mid-air to strike the ground below, damaging opponents along the path
        and dealing AoE DMG upon impact.\",\"type\":\"NORMAL_ATTACK\"},{\"name\":\"Abiogenesis:
        Solar Isotoma\",\"unlock\":\"Elemental Skill\",\"description\":\"Albedo creates
        a Solar Isotoma using alchemy, which deals AoE Geo DMG on appearance.\\nSolar
        Isotoma\\n\\nWhen enemies within the Solar Isotoma zone are hit, the Solar
        Isotoma will generate Transient Blossoms which deal AoE Geo DMG. DMG dealt
        scales off Albedo's DEF.\\nTransient Blossoms can only be generated once every
        2s.\\nWhen a character is located at the locus of the Solar Isotoma, the Solar
        Isotoma will accumulate Geo power to form a crystallized platform that lifts
        the character up to a certain height. Only one crystallized platform can exist
        at a time.\\nSolar Isotoma is considered a Geo construct.\\n\\nHold to designate
        the location of the skill.\",\"type\":\"ELEMENTAL_SKILL\"},{\"name\":\"Rite
        of Progeniture: Tectonic Tide\",\"unlock\":\"Elemental Burst\",\"description\":\"Under
        Albedo's command, Geo crystals surge and burst forth, dealing AoE Geo DMG
        in front of him.\\nIf a Solar Isotoma created by Albedo himself is on the
        field, 7 Fatal Blossoms will be generated in the Solar Isotoma field, bursting
        violently into bloom and dealing AoE Geo DMG\\nTecotonic Tide DMG and Fatal
        Blossom DMG will not generate Transient Blossoms.\",\"type\":\"ELEMENTAL_BURST\"}],\"passiveTalents\":[{\"name\":\"Calcite
        Might\",\"unlock\":\"Unlocked at Ascension 1\",\"description\":\"Transient
        Blossoms generated by Abiogenesis: Solar Isotoma deal 25% more DMG to enemies
        whose HP is below 50%.\",\"level\":1},{\"name\":\"Homuncular Nature\",\"unlock\":\"Unlocked
        at Ascension 4\",\"description\":\"Using Rite of Progeniture: Tectonic Tide
        increases the Elemental Mastery of nearby party members by 125 for 10s.\",\"level\":4},{\"name\":\"Flash
        of Genius\",\"unlock\":\"Unlocked Automatically\",\"description\":\"When Albedo
        crafts Weapon Ascension Materials, he has a 10% chance to receive double the
        product.\"}],\"constellations\":[{\"name\":\"Flower of Eden\",\"unlock\":\"Constellation
        Lv. 1\",\"description\":\"Transient Blossoms generated by Albedo's Abiogenesis:
        Solar Isotoma regenerate 1.2 Energy for Albedo.\",\"level\":1},{\"name\":\"Opening
        of Phanerozoic\",\"unlock\":\"Constellation Lv. 2\",\"description\":\"Transient
        Blossoms generated by Abiogenesis: Solar Isotoma grant Albedo Fatal Reckoning
        for 30s:\\n\\nEach stack of Fatal Reckoning increases DMG by of Albedo's DEF.\\nTh[...]
