interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: http://api.forismatic.com/api/1.0/?format=json&lang=en&method=getQuote
  response:
    body:
      string: '{"quoteText":"Strength to carry on despite the odds means you have
        faith in your own abilities and know how. ", "quoteAuthor":"Byron Pulsifer",
        "senderName":"", "senderLink":"", "quoteLink":"http://forismatic.com/en/5741a3ae4f/"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers: {}
    method: GET
    uri: http://api.forismatic.com/api/1.0/?format=json&lang=en&method=getQuote
  response:
    body:
      string: '{"quoteText":"Giving up doesn\''t always mean you are weak.  Sometimes
        it means that you are strong enough to let go.", "quoteAuthor":"", "senderName":"",
        "senderLink":"", "quoteLink":"http://forismatic.com/en/bae61476f0/"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
