interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: http://api.forismatic.com/api/1.0/?format=json&lang=en&method=getQuote
  response:
    body:
      string: '{"quoteText":"Strength to carry on despite the odds means you have
        faith in your own abilities and know how. ", "quoteAuthor":"Byron Pulsifer",
        "senderName":"", "senderLink":"", "quoteLink":"http://forismatic.com/en/5741a3ae4f/"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers: {}
    method: GET
    uri: http://api.forismatic.com/api/1.0/?format=json&lang=en&method=getQuote
  response:
    body:
      string: '{"quoteText":"Reason and free inquiry are the only effectual agents
        against error. ", "quoteAuthor":"Thomas Jefferson", "senderName":"", "senderLink":"",
        "quoteLink":"http://forismatic.com/en/bd0cb51f7b/"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
