# discord.py[voice]==1.3.1
git+git://github.com/Rapptz/discord.py.git@bb1c1e9#egg=discord.py[voice]
# discord-ext-menus==1.0.0a
git+git://github.com/Rapptz/discord-ext-menus.git@d9965ec#egg=discord-ext-menus
# TwitchIO@rewrite
git+git://github.com/TwitchIO/Twitchio.git@9c99b72#egg=twitchio
pydle==0.9.2
python-telegram-bot==11.1.0

aiohttp==3.6.2
asyncpg==0.20.1
beautifulsoup4==4.8.2
clarifai==2.6.2
cryptography==2.8
dice==3.1.0
emoji==0.5.4
feedparser==5.2.1
gitpython==3.1.0
hypothesis==5.5.4
imageio==2.6.1
imgurpython==1.1.7
inflect==4.1.0
isodate==0.6.0
matplotlib==3.1.3
more-itertools==8.2.0
numexpr==2.7.1
numpy==1.18.1
pandas==1.0.1
parsedatetime==2.5
pillow==7.0.0
psutil==5.7.0
py-cpuinfo==5.0.0
pycountry==19.8.18
pydealer==1.4.0
pygost==4.4
pyowm==2.10.0
pyparsing==2.4.6
python-aiml==0.9.3
python-chess==0.30.1
python-dateutil==2.8.1
python-dotenv==0.11.0
pytz==2019.3
raven==6.10.0
raven-aiohttp==0.7.0
requests==2.22.0
scipy==1.4.1
seaborn==0.10.0
setuptools==45.2.0
speechrecognition==3.8.1
sympy==1.5.1
tabulate==0.8.6
treys==0.1.3
tweepy==3.8.0
unicodedata2==12.1.0
urllib3==1.25.8
wand==0.5.9
wolframalpha==4.0.0
wordcloud==1.6.0
wordnik-py3==2.1.2
youtube-dl==2020.2.16

async-timeout==3.0.1
attrs==19.3.0
certifi==2019.11.28
cffi==1.14.0
chardet==3.0.4
configparser==4.0.2
cycler==0.10.0
docopt==0.6.2
future==0.18.2
geojson==2.5.0
gitdb==4.0.2
googleapis-common-protos==1.51.0
grpcio==1.27.2
idna==2.9
jaraco.itertools==5.0.0
jsonschema==3.2.0
kiwisolver==1.1.0
lxml==4.5.0
mpmath==1.1.0
multidict==4.7.4
oauthlib==3.1.0
protobuf==3.11.3
pycparser==2.20
pynacl==1.3.0
pyrsistent==0.15.7
pysocks==1.7.1
requests-oauthlib==1.3.0
six==1.14.0
smmap==3.0.1
sortedcontainers==2.1.0
soupsieve==1.9.5
websockets==8.1
xmltodict==0.12.0
yarl==1.4.2

