git+git://github.com/Rapptz/discord.py.git

imageio==1.5

beautifulsoup4
cleverbot
feedparser
inflect
isodate
moviepy
pandas
psutil
pydealer
pyowm
python-chess
python-dateutil
seaborn
speechrecognition
sympy
tweepy
wand
wolframalpha
youtube_dl

