interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=Fort+Yukon%2C+Alaska
  response:
    body:
      string: "{\n   \"results\" : [\n      {\n         \"address_components\" : [\n
        \           {\n               \"long_name\" : \"Fort Yukon\",\n               \"short_name\"
        : \"Fort Yukon\",\n               \"types\" : [ \"locality\", \"political\"
        ]\n            },\n            {\n               \"long_name\" : \"Yukon-Koyukuk
        Census Area\",\n               \"short_name\" : \"Yukon-Koyukuk Census Area\",\n
        \              \"types\" : [ \"administrative_area_level_2\", \"political\"
        ]\n            },\n            {\n               \"long_name\" : \"Alaska\",\n
        \              \"short_name\" : \"AK\",\n               \"types\" : [ \"administrative_area_level_1\",
        \"political\" ]\n            },\n            {\n               \"long_name\"
        : \"United States\",\n               \"short_name\" : \"US\",\n               \"types\"
        : [ \"country\", \"political\" ]\n            },\n            {\n               \"long_name\"
        : \"99740\",\n               \"short_name\" : \"99740\",\n               \"types\"
        : [ \"postal_code\" ]\n            }\n         ],\n         \"formatted_address\"
        : \"Fort Yukon, AK 99740, USA\",\n         \"geometry\" : {\n            \"bounds\"
        : {\n               \"northeast\" : {\n                  \"lat\" : 66.60982,\n
        \                 \"lng\" : -145.1764241\n               },\n               \"southwest\"
        : {\n                  \"lat\" : 66.557883,\n                  \"lng\" : -145.3227351\n
        \              }\n            },\n            \"location\" : {\n               \"lat\"
        : 66.5636571,\n               \"lng\" : -145.2486502\n            },\n            \"location_type\"
        : \"APPROXIMATE\",\n            \"viewport\" : {\n               \"northeast\"
        : {\n                  \"lat\" : 66.60982,\n                  \"lng\" : -145.1764241\n
        \              },\n               \"southwest\" : {\n                  \"lat\"
        : 66.557883,\n                  \"lng\" : -145.3227351\n               }\n
        \           }\n         },\n         \"place_id\" : \"ChIJ7_oPjWEKMFERIoxvDC85GE8\",\n
        \        \"types\" : [ \"locality\", \"political\" ]\n      }\n   ],\n   \"status\"
        : \"OK\"\n}\n"
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
version: 1
