# Python + Golang CircleCI 2.0 configuration file
# Check https://circleci.com/docs/2.0/language-python/
# and https://circleci.com/docs/2.0/language-go/ for more details

version: 2
jobs:
  test-python:
    docker:
      - image: cimg/python:3.9.10
      - image: postgres:12.1
        environment:
          POSTGRES_USER: harmonbot
          POSTGRES_DB: harmonbot

    steps:
      - checkout

      # Download and cache dependencies
      - restore_cache:
          keys:
          - v1-dependencies-{{ checksum "requirements.txt" }}
          # Fallback to using the latest cache if no exact match is found
          - v1-dependencies-

      - run:
          name: Install dependencies
          command: |
            python -m venv venv
            . venv/bin/activate
            pip install --upgrade pip
            pip install --upgrade --requirement requirements.txt

      - run:
          name: Run Discord test
          command: |
            . venv/bin/activate
            cd Discord && python Harmonbot.py

      - run:
          name: Run Telegram test
          command: |
            . venv/bin/activate
            cd Telegram && python Telegram_Harmonbot.py

      - save_cache:
          paths:
            - ./venv
          key: v1-dependencies-{{ checksum "requirements.txt" }}

      - store_artifacts:
          path: test-reports
          destination: test-reports

  test-golang:
    docker:
      - image: cimg/go:1.16.15

    steps:
      - checkout
      - run: go get github.com/bwmarrin/discordgo
      - run: go get github.com/bwmarrin/dgvoice
      - run: go get github.com/joho/godotenv
      - run: cd Discord && go run Harmonbot_Listener.go

workflows:
  version: 2
  test:
    jobs:
      - test-python
      - test-golang
