interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://runescape.wiki/api.php?action=opensearch&search=vial
  response:
    body:
      string: '["vial",["Vial","Vial of water","Vial of stench (a)","Vial of stench","Vial
        of stench (a) (A Guild of Our Own)","Vial of vile water","Vial of water (Lunar
        Diplomacy)","Vial (Dungeoneering)","Vial of water pack","Vial (jangerberries
        and guam leaves)"],["","","","","","","","","",""],["https://runescape.wiki/w/Vial","https://runescape.wiki/w/Vial_of_water","https://runescape.wiki/w/Vial_of_stench_(a)","https://runescape.wiki/w/Vial_of_stench","https://runescape.wiki/w/Vial_of_stench_(a)_(A_Guild_of_Our_Own)","https://runescape.wiki/w/Vial_of_vile_water","https://runescape.wiki/w/Vial_of_water_(Lunar_Diplomacy)","https://runescape.wiki/w/Vial_(Dungeoneering)","https://runescape.wiki/w/Vial_of_water_pack","https://runescape.wiki/w/Vial_(jangerberries_and_guam_leaves)"]]'
    headers:
      Content-Disposition:
      - inline; filename=api-result.json
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Mon, 24 Jul 2023 08:27:49 GMT
      x-opensearch-type:
      - prefix
      x-search-id:
      - f1y4x4l0cw4dtw1of48nqkavu
      x-server:
      - nginx-7c5755d5cf-qdbdm
    status:
      code: 200
      message: OK
    url: https://runescape.wiki/api.php?action=opensearch&search=vial
- request:
    body: null
    headers: {}
    method: GET
    uri: https://runescape.wiki/api.php?action=ask&query=%5B%5BVial%5D%5D%7C?Item_ID&format=json
  response:
    body:
      string: '{"query":{"printrequests":[{"label":"","key":"","redi":"","typeid":"_wpg","mode":2},{"label":"Item
        ID","key":"Item_ID","redi":"","typeid":"_num","mode":1,"format":""}],"results":{"Vial":{"printouts":{"Item
        ID":[229]},"fulltext":"Vial","fullurl":"https://runescape.wiki/w/Vial","namespace":0,"exists":"1","displaytitle":""}},"serializer":"SMW\\Serializers\\QueryResultSerializer","version":2,"meta":{"hash":"603c073ccb8e43b9b3bb2a7ad8135431","count":1,"offset":0,"source":"","time":"0.001882"}}}'
    headers:
      Content-Disposition:
      - inline; filename=api-result.json
      Content-Type:
      - application/json; charset=utf-8
      x-server:
      - nginx-7c5755d5cf-c2555
    status:
      code: 200
      message: OK
    url: https://runescape.wiki/api.php?action=ask&query=%5B%5BVial%5D%5D%7C?Item_ID&format=json
- request:
    body: null
    headers:
    method: GET
    uri: https://services.runescape.com/m=itemdb_rs/api/catalogue/detail.json?item=229
  response:
    body: {}
    headers:
      Content-Type:
      - text/html
      Location:
      - https://secure.runescape.com/m=itemdb_rs/api/catalogue/detail.json?item=229
    status:
      code: 302
      message: Moved Temporarily
    url: https://services.runescape.com/m=itemdb_rs/api/catalogue/detail.json?item=229
- request:
    body: null
    headers:
    method: GET
    uri: https://secure.runescape.com/m=itemdb_rs/api/catalogue/detail.json?item=229
  response:
    body:
      string: '{"item":{"icon":"https://secure.runescape.com/m=itemdb_rs/1689589691823_obj_sprite.gif?id=229","icon_large":"https://secure.runescape.com/m=itemdb_rs/1689589691823_obj_big.gif?id=229","id":229,"type":"Herblore
        materials","typeIcon":"https://www.runescape.com/img/categories/Herblore materials","name":"Vial","description":"An
        empty glass vial.","current":{"trend":"neutral","price":1},"today":{"trend":"neutral","price":0},"members":"false","day30":{"trend":"neutral","change":"0.0%"},"day90":{"trend":"neutral","change":"0.0%"},"day180":{"trend":"negative","change":"-50.0%"}}}'
    headers:
      Content-Type:
      - text/html; charset=ISO-8859-1
    status:
      code: 200
      message: OK
    url: https://secure.runescape.com/m=itemdb_rs/api/catalogue/detail.json?item=229
version: 1
