interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://runescape.wiki/api.php?action=opensearch&search=completionist+cape
  response:
    body:
      string: '["completionist cape",["Completionist cape","Completionist cape (t)","Completionist
        Cape achievements","Completionist Cape (achievement)","Completionist cape
        rework","Completionist Cape Keyring","Completionist Cape (achievement)/Breakdown","Completionist
        cape hood","Completionist cape color"],["","","","","","","","",""],["https://runescape.wiki/w/Completionist_cape","https://runescape.wiki/w/Completionist_cape_(t)","https://runescape.wiki/w/Completionist_Cape_achievements","https://runescape.wiki/w/Completionist_Cape_(achievement)","https://runescape.wiki/w/Completionist_cape_rework","https://runescape.wiki/w/Completionist_Cape_Keyring","https://runescape.wiki/w/Completionist_Cape_(achievement)/Breakdown","https://runescape.wiki/w/Completionist_cape_hood","https://runescape.wiki/w/Completionist_cape_color"]]'
    headers:
      Content-Disposition:
      - inline; filename=api-result.json
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Fri, 17 Oct 2025 01:52:21 GMT
      x-opensearch-type:
      - prefix
      x-search-id:
      - bpyqbt7f97a4cms1uz3tph3e8
      x-server:
      - nginx-5786f46c59-thmr2
    status:
      code: 200
      message: OK
- request:
    body: null
    headers: {}
    method: GET
    uri: https://runescape.wiki/api.php?action=bucket&format=json&query=bucket%28%22item_id%22%29.select%28%22id%22%29.where%28%22page_name%22%2C%22Completionist+cape%22%29.run%28%29
  response:
    body:
      string: '{"bucketQuery":"bucket(\"item_id\").select(\"id\").where(\"page_name\",\"Completionist
        cape\").run()","bucket":[{"id":["20769"]}]}'
    headers:
      Content-Disposition:
      - inline; filename=api-result.json
      Content-Type:
      - application/json; charset=utf-8
      x-server:
      - nginx-5786f46c59-thmr2
    status:
      code: 200
      message: OK
- request:
    body: null
    headers: {}
    method: GET
    uri: https://secure.runescape.com/m=itemdb_rs/api/catalogue/detail.json?item=20769
  response:
    body:
      string: '<!DOCTYPE html><html><head><title>404 - Page not found</title> <meta
        charset="UTF-8"/><meta name="viewport" content="width=device-width, initial-scale=1"
        /><style>body, html{margin: 0; padding: 0; height: 100%; overflow: hidden;}#content{position:absolute;
        left: 0; right: 0; bottom: 0; top: 0px;}.error-frame{height: 100%;width: 100%;border:
        0;}</style></head><body><div id="content"><iframe class="error-frame" src="https://www.runescape.com/error404"></iframe></div><script
        src="//ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script><script
        type="text/javascript" src="https://www.runescape.com/js/rs3/plugins-7.js"></script><script
        src="https://www.runescape.com/js/rs3/gtm-0.js"></script><script>(function(){function
        c(){var b=a.contentDocument||a.contentWindow.document;if(b){var d=b.createElement(''script'');d.innerHTML="window.__CF$cv$params={r:''98fcb95c3fa9c2fe'',t:''MTc2MDY3MTg5Ny4wMDAwMDA=''};var
        a=document.createElement(''script'');a.nonce='''';a.src=''/cdn-cgi/challenge-platform/scripts/jsd/main.js'';document.getElementsByTagName(''head'')[0].appendChild(a);";b.getElementsByTagName(''head'')[0].appendChild(d)}}if(document.body){var
        a=document.createElement(''iframe'');a.height=1;a.width=1;a.style.position=''absolute'';a.style.top=0;a.style.left=0;a.style.border=''none'';a.style.visibility=''hidden'';document.body.appendChild(a);if(''loading''!==document.readyState)c();else
        if(window.addEventListener)document.addEventListener(''DOMContentLoaded'',c);else{var
        e=document.onreadystatechange||function(){};document.onreadystatechange=function(b){e(b);''loading''!==document.readyState&&(document.onreadystatechange=e,c())}}}})();</script></body></html>

        '
    headers:
      Content-Type:
      - text/html
    status:
      code: 404
      message: Not found
version: 1
