interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://runescape.wiki/api.php?action=opensearch&search=vial
  response:
    body:
      string: '["vial",["Vial","Vial of water","Vial of stench (a)","Vial of stench","Vial
        of stench (a) (A Guild of Our Own)","Vial of vile water","Vial of water pack","Vial
        of water (Lunar Diplomacy)","Vial (Dungeoneering)","Vial (jangerberries and
        guam leaves)"],["","","","","","","","","",""],["https://runescape.wiki/w/Vial","https://runescape.wiki/w/Vial_of_water","https://runescape.wiki/w/Vial_of_stench_(a)","https://runescape.wiki/w/Vial_of_stench","https://runescape.wiki/w/Vial_of_stench_(a)_(A_Guild_of_Our_Own)","https://runescape.wiki/w/Vial_of_vile_water","https://runescape.wiki/w/Vial_of_water_pack","https://runescape.wiki/w/Vial_of_water_(Lunar_Diplomacy)","https://runescape.wiki/w/Vial_(Dungeoneering)","https://runescape.wiki/w/Vial_(jangerberries_and_guam_leaves)"]]'
    headers:
      Content-Disposition:
      - inline; filename=api-result.json
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Wed, 15 Oct 2025 14:18:10 GMT
      x-opensearch-type:
      - prefix
      x-search-id:
      - f4ro3s0i22a8wdv6u5cq567mf
      x-server:
      - nginx-5786f46c59-z2nwd
    status:
      code: 200
      message: OK
- request:
    body: null
    headers: {}
    method: GET
    uri: https://runescape.wiki/api.php?action=bucket&format=json&query=bucket%28%22item_id%22%29.select%28%22id%22%29.where%28%22page_name%22%2C%22Vial%22%29.run%28%29
  response:
    body:
      string: '{"bucketQuery":"bucket(\"item_id\").select(\"id\").where(\"page_name\",\"Vial\").run()","bucket":[{"id":["229"]}]}'
    headers:
      Content-Disposition:
      - inline; filename=api-result.json
      Content-Type:
      - application/json; charset=utf-8
      x-server:
      - nginx-5786f46c59-z2nwd
    status:
      code: 200
      message: OK
- request:
    body: null
    headers: {}
    method: GET
    uri: https://secure.runescape.com/m=itemdb_rs/api/catalogue/detail.json?item=229
  response:
    body:
      string: '{"item":{"icon":"https://secure.runescape.com/m=itemdb_rs/1760350970334_obj_sprite.gif?id=229","icon_large":"https://secure.runescape.com/m=itemdb_rs/1760350970334_obj_big.gif?id=229","id":229,"type":"Herblore
        materials","typeIcon":"https://www.runescape.com/img/categories/Herblore materials","name":"Vial","description":"An
        empty glass vial.","current":{"trend":"neutral","price":2},"today":{"trend":"neutral","price":0},"members":"false","day30":{"trend":"neutral","change":"0.0%"},"day90":{"trend":"neutral","change":"0.0%"},"day180":{"trend":"positive","change":"+100.0%"}}}'
    headers:
      Content-Type:
      - text/html; charset=ISO-8859-1
    status:
      code: 200
      message: OK
version: 1
