interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://runescape.wiki/api.php?action=opensearch&search=completionist+cape
  response:
    body:
      string: '["completionist cape",["Completionist cape","Completionist cape (t)","Completionist
        Cape Keyring","Completionist Cape achievements","Completionist Cape (achievement)","Completionist
        cape rework","Completionist cape hood"],["","","","","","",""],["https://runescape.wiki/w/Completionist_cape","https://runescape.wiki/w/Completionist_cape_(t)","https://runescape.wiki/w/Completionist_Cape_Keyring","https://runescape.wiki/w/Completionist_Cape_achievements","https://runescape.wiki/w/Completionist_Cape_(achievement)","https://runescape.wiki/w/Completionist_cape_rework","https://runescape.wiki/w/Completionist_cape_hood"]]'
    headers:
      Content-Disposition:
      - inline; filename=api-result.json
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Mon, 24 Jul 2023 09:51:37 GMT
      x-opensearch-type:
      - prefix
      x-search-id:
      - 6so3atrmjv3q4vtl9xf8hb41i
      x-server:
      - nginx-7c5755d5cf-c2555
    status:
      code: 200
      message: OK
    url: https://runescape.wiki/api.php?action=opensearch&search=completionist+cape
- request:
    body: null
    headers: {}
    method: GET
    uri: https://runescape.wiki/api.php?action=ask&query=%5B%5BCompletionist+cape%5D%5D%7C?Item_ID&format=json
  response:
    body:
      string: '{"query":{"printrequests":[{"label":"","key":"","redi":"","typeid":"_wpg","mode":2},{"label":"Item
        ID","key":"Item_ID","redi":"","typeid":"_num","mode":1,"format":""}],"results":{"Completionist
        cape":{"printouts":{"Item ID":[20769]},"fulltext":"Completionist cape","fullurl":"https://runescape.wiki/w/Completionist_cape","namespace":0,"exists":"1","displaytitle":""}},"serializer":"SMW\\Serializers\\QueryResultSerializer","version":2,"meta":{"hash":"7fc023ba2bb417b9b08527e4d2454978","count":1,"offset":0,"source":"","time":"0.002069"}}}'
    headers:
      Content-Disposition:
      - inline; filename=api-result.json
      Content-Type:
      - application/json; charset=utf-8
      x-server:
      - nginx-7c5755d5cf-qdbdm
    status:
      code: 200
      message: OK
    url: https://runescape.wiki/api.php?action=ask&query=%5B%5BCompletionist+cape%5D%5D%7C?Item_ID&format=json
- request:
    body: null
    headers:
    method: GET
    uri: https://services.runescape.com/m=itemdb_rs/api/catalogue/detail.json?item=20769
  response:
    body: {}
    headers:
      Content-Type:
      - text/html
      Location:
      - https://secure.runescape.com/m=itemdb_rs/api/catalogue/detail.json?item=20769
    status:
      code: 302
      message: Moved Temporarily
    url: https://services.runescape.com/m=itemdb_rs/api/catalogue/detail.json?item=20769
- request:
    body: null
    headers:
    method: GET
    uri: https://secure.runescape.com/m=itemdb_rs/api/catalogue/detail.json?item=20769
  response:
    body:
      string: '<!DOCTYPE html><html><head><title>404 - Page not found</title> <meta
        charset="UTF-8"/><meta name="viewport" content="width=device-width, initial-scale=1"
        /><style>body, html{margin: 0; padding: 0; height: 100%; overflow: hidden;}#content{position:absolute;
        left: 0; right: 0; bottom: 0; top: 0px;}.error-frame{height: 100%;width: 100%;border:
        0;}</style></head><body><div id="content"><iframe class="error-frame" src="https://www.runescape.com/error404"></iframe></div><script
        src="//ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script><script
        type="text/javascript" src="https://www.runescape.com/js/rs3/plugins-7.js"></script><script
        src="https://www.runescape.com/js/rs3/gtm-0.js"></script><script>(function(){var
        js = "window[''__CF$cv$params'']={r:''7ebb4409bbe816cc''};_cpo=document.createElement(''script'');_cpo.nonce='''',_cpo.src=''/cdn-cgi/challenge-platform/scripts/invisible.js'',document.getElementsByTagName(''head'')[0].appendChild(_cpo);";var
        _0xh = document.createElement(''iframe'');_0xh.height = 1;_0xh.width = 1;_0xh.style.position
        = ''absolute'';_0xh.style.top = 0;_0xh.style.left = 0;_0xh.style.border =
        ''none'';_0xh.style.visibility = ''hidden'';document.body.appendChild(_0xh);function
        handler() {var _0xi = _0xh.contentDocument || _0xh.contentWindow.document;if
        (_0xi) {var _0xj = _0xi.createElement(''script'');_0xj.innerHTML = js;_0xi.getElementsByTagName(''head'')[0].appendChild(_0xj);}}if
        (document.readyState !== ''loading'') {handler();} else if (window.addEventListener)
        {document.addEventListener(''DOMContentLoaded'', handler);} else {var prev
        = document.onreadystatechange || function () {};document.onreadystatechange
        = function (e) {prev(e);if (document.readyState !== ''loading'') {document.onreadystatechange
        = prev;handler();}};}})();</script></body></html>

        '
    headers:
      Content-Type:
      - text/html
    status:
      code: 404
      message: Not Found
    url: https://secure.runescape.com/m=itemdb_rs/api/catalogue/detail.json?item=20769
version: 1
